
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Dancing Script', cursive; 
    background-image: url('../img/fondo_mapache_2.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #333; 
}


header {
    text-align: center;
    padding: 30px;
    background-color: #777; 
    color: #eee; 
}

header h1 {
    margin-bottom: 10px;
}


nav {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 15px; 
    background-color: #444; 
    padding: 10px; 
}

nav a {
    color: #eee; 
    text-decoration: none; 
    padding: 10px 15px; 
    background-color: transparent; 
    transition: all 0.3s ease; 
}

nav a:hover {
    background-color: #eee; 
    color: #444; 
}


main {
    padding: 30px 50px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 8px; 
}

main section {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd; 
}

main section:last-child {
    border-bottom: none;
}

main h2 {
    color: #555; 
    margin-top: 0;
    margin-bottom: 15px;
}

main p {
    margin: 20px 0;
    line-height: 1.6;
}

main ul {
    list-style: disc; 
    margin-left: 20px;
}

main strong {
    font-weight: bold;
}

main em {
    font-style: italic;
}


.imagen-redondeada {
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    display: block; 
    margin: 10px auto;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 30px;
    background-color: #b8860b; 
    color: #fff; 
    border-radius: 0 0 8px 8px;
    margin-top: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}
.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}